<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.venson.changliulab.mapper.EduChapterPublishedMapper">
    <select id="getFrontChaptersByCourseId" resultType="com.venson.changliulab.entity.front.dto.ChapterFrontDTO">
        select c.id, c.title, cd.description
        from edu_chapter_published c
        left join edu_chapter_published_desc cd
        on c.id = cd.id
        where c.course_id = #{id}
    </select>

</mapper>
